.wrapper {
  display: grid;
  grid-template-columns: 10fr 2fr;
  width: 100%;
  color: white;
}

.bar {
  background-color: #e5e5e5;
  display: inline-block;
  border-radius: 25px;
  height: 25px;
  flex: 1;
}

.bar_progress {
  height: 100%;
  width: 0;
  border-radius: 25px;
  overflow: hidden;
  background-color: #6D9D87;
}

.title {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-weight: 600;
}