.container {
  padding: 0px 100px;
}

.content {
  font-family: 'Montserrat';
  margin-top: 50px;
  color: white;
}

.content_name {
  font-size: 50px;
  font-weight: 600;
}

.content_surname {
  font-size: 24px;
}